@charset "utf-8";
/* CSS Document */
.cyan{color:#687a7b;}
h2{ font-family:'Museo';}
#header{background:url(../images/top_pattern.png) repeat-x center center; height:44px;}
.logo{margin:2px 0 0 10px;}
.aligned_center{width:960px; margin:0 auto; overflow:auto;}
#header .aligned_center a{padding-top:0px; display:block}
#header .aligned_center>span.right{margin-top:13px}
.person_icon{background:url(../images/person_icon.png) no-repeat top left; display:block; width:22px; height:19px; margin-right:4px; cursor:pointer}
.person_name{font-family:'Museo'; font-size:13px; margin:2px 0 0 0; color:white; overflow:visible; text-shadow: -1px -1px 0px #666;}
.open_arrow{background:url(../images/person_arrow.png) no-repeat; width:11px; height:10px; margin:4px 0 0 4px; cursor:pointer}
.two_columns{margin-top:23px}
.two_columns>.left{width:625px}
.two_columns>.right{width:305px}
.three_columns>.left{width:486px}
.three_columns>.left:first-child{width:170px}
.three_columns>.right{width:290px; margin-left:10px}
.main_pic_container{background-color:#cbcbcb;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; padding:1px 1px; margin-bottom:30px;}
.main_pic_container div{background-color:#fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; padding:10px 12px 10px;}
.main_pic_container img{-webkit-box-shadow: 0px 0px 3px 3px #bad0ce;-moz-box-shadow: 0px 0px 3px 3px #bad0ce;box-shadow: 0px 0px 3px 3px #bad0ce;}
.profile_pic, .profile_pic_post  {border:#cbcbcb 1px solid; padding:5px; width:49px; height:49px; background-color:#fff} 
.profile_pic_post {margin-top:20px;}
.post_details{margin-left:10px; width:400px; font-family:'Museo'; }
.post_details h3.left{color:#000; margin-right:10px; font-size:13pt}
.post_details h3.right{font-size:12pt}
.post_details h3.right, .post_details small{color:#687a7b; margin-left:20px;}
.post_details small { font-size:12pt; margin-top:4px}
.post_details p, p{color:#333333; font-size:8.5pt}
.three_columns>.left #comment_container{width:485px}
.three_columns>.left #comment_container textarea{width:471px}
.comment_container{border:1px solid #bebebe; height:85px; width:445px; margin:20px 0 0 15px; overflow:hidden;}
.comment_container textarea{height:40px; font-size:10pt; color:#666; height:47px; width:445px; border:none; border-bottom:1px solid #e3e2e4; resize:none; padding:4px 7px; font-family:'Museo'; overflow:visible;}
.comment_container textarea:focus{outline:none}
#footer_comment{background:#F3F3F3; height:23px; padding:4px 7px 0;}
.cyan_curve{background-color:#E0F0F3; border:1px solid #CFCFCF; padding:2px 9px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; font-size:9pt; font-family:'Museo'}
.comments li,.three_columns>.left:first-child ul li{ width:408px; margin-left:25px; background-color:#f4f2f2; border-bottom:1px solid #d8d8d8; padding:7px 7px; border-top:1px solid #fff; }
.three_columns>.left:first-child ul li:first-child,#comments li:first-child{border-top:none; }
.comments li h3.left{margin-right:20px}
.post_titles {width:370px; float:left;}
.comments li .post_details{width:330px; margin-top:0px;}
.social_links{-webkit-box-shadow:inset 0px 0px 7x 3px #d0d1d2;-moz-box-shadow:inset 0px 0px 7px 3px #d0d1d2;box-shadow:inset 0px 0px 7px 3px #d0d1d2;height:34px; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; background:#f2f3f5}
.follow_right{-webkit-box-shadow:0px 0px 3px 2px #d0d1d2;-moz-box-shadow:0px 0px 3px 2px #d0d1d2;box-shadow:0px 0px 3px 2px #d0d1d2;height:188px; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; background:#f2f3f5; padding:15px}
.follow_right h1,.follow_right h2{color:#687a7b; font-family:'Museo'; padding:0 15px 12px 0}
.follow_right h1{font-size:22pt}
.follow_right h2{font-size:12pt}
.follow_btn{background:url(../images/follow_btn.png) no-repeat; margin-left:-2px; width:130px; height:40px; display:block}
#slider{height:58px; margin:5px 0}
#slider li{float:left; margin:0 15px 0 0;}
#slider li .arrow{margin-top:22px}
.support_link{margin:22px 50px 10px 50px}
.ad{border:1px solid #cccccc}
#footer{height:30px; margin-top:44px; padding-top:15px;/*position:absolute; bottom:0; left:0; right:0*/}
#footer p{color:#666; font-family:'Museo'}
/*.follow_btn:hover,.open_arrow:hover,.person_icon:hover{background-position:bottom}*/
.avatar{padding:20px;/*background-color:#f8f7f7; border:1px solid #c8c8c8; width:128px; margin-top:-1px;-webkit-box-shadow:0px 2px 3px 1px #d0d1d2;-moz-box-shadow:0px 2px 3px 1px #d0d1d2;box-shadow:0px 2px 3px 1px #d0d1d2;*/}
.avatar img{margin-bottom:10px}
.three_columns>.left:first-child h2.cyan{margin:5px 0 8px 25px}
.three_columns>.left:first-child ul{width:140px; margin-left:-3px;}
/*{background-color:#f4f2f2; border-bottom:1px solid #d8d8d8; padding:7px 11px; border-top:1px solid #fff;}*/
.three_columns>.left:first-child ul li{background:#fff; height:16px; width:inherit;}
#posts .details{width:379px; font-family:'Museo'; padding-top:20px; margin-left:10px;}
.two_columns>.left:first-child #posts .details{width:500px}
.details h3{color:#212b40; margin-right:12px;}
#posts{margin:10px 0 0 15px; overflow:hidden; }
#posts #comments li h3{font-size:12pt; color:#212b40;}
#posts #comments li small{font-size:9pt;}
#posts #comments li p{color:#333333; font-size:9pt;}
.details small, .post_details small{color:#666666; font-size:9pt; margin-top:1px;}
.details p{font-size:12px; padding-top:5px;}
.details img{border:1px solid #dbdbdb; display:block; margin:8px 0 8px}
#posts #comments{width:470px;}
#posts li:second-child {margin:10px 0 0 10px;}
.two_columns>.left:first-child #posts #comments{width:620px}
#posts #comments li .post_details{width:370px; padding:10px 0 0 10px}
.two_columns>.left:first-child #posts #comments li .post_details{width:520px}
.play_container{position:relative; display:block; float:left}
.play_container img:first-child{position:absolute; left: 20%;top: 18%; border:none}
.black{color:#333333!important}
.twitter{background:url(../images/twitter.png) no-repeat; height:36px; width:117px; padding-top:0!important; margin-top:-6px}
.twitter:hover{background-position:0 -37px}