<div id="charity_badge">
  <h2 class="cyan support_link"><%=user.name%> Supports</h2>
  <div align="center"><a href="#"><img src="/images/skin/re_generation.png"/></a></div>
  <p align="center" class="cyan">Learn more about Re*Generation</p>
</div>