<div class="avatar">
  <%= link_to image_tag(user.avatar, :size => "125x125"), @user %>
  <a href="javascript:postUserFollower('<%=user.display_name%>',this)" class="follow_btn"></a><%=  user.following?(current_user) %><a href="javascript:deleteUserFollower('<%=user.display_name%>',this)" > unfollow</a>
</div><!--avatar-->
<h2 class="cyan">Follow Me</h2>
<ul><!--follow me links-->
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul><!--/follow me links-->