<div class="avatar">
  <%= link_to image_tag(user.avatar, :size => "125x125"), @user %>
  <a class="follow_btn"></a>
</div><!--avatar-->
<h2 class="cyan">Follow Me</h2>
<ul><!--follow me links-->
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul><!--/follow me links-->