<h1 class="left"><%= link_to user.name, user %></h1>


<ul id="slider">
  <li><a href="#"><img class="arrow" src="/images/skin/left_arrow.png"/></a></li>
  <% for p in user.posts_with_offset(0,3)  %>
    <li>
  <%= link_to image_tag(p.post_url(:thumb), :size => "50x50",:class => "profile_pic"), post_path(p.code) %></li>
  <% end %>
  <li><a href="#"><img class="arrow" src="/images/skin/right_arrow.png"/></a></li>
</ul>
<h2>Follow Me</h2>
    <div class="fb-like-box" data-href="http://www.facebook.com/ladygaga" data-width="150" data-height="100" data-show-faces="false" data-stream="false" data-header="false"></div>

    <a href="https://twitter.com/b2test" data-link-color="ffffff"	data-show-count="false" data-width="100" class="twitter-follow-button"></a>
    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
    
<div class="social_links"><a href="javascript:postUserFollower('<%=user.name%>')" class="follow_btn left"></a></div>