 <p>
   <h1><%= flash[:message] %></h1> 
 </p>
 <p><a href="/analytics"> analytics </a>
 <p><a href="/analytics/refreshFlurry"> refresh flurry analytics </a>
 <p><a href="/admin/generateSitemap"> refresh sitemap </a>
 <p><a href="/admin/generateSitemap?all=true"> regenerate sitemap </a>
