/* CSS Document */
/* -----CLEARFIX---- -*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/*-----CSS RESET----*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img,ins, 
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	line-height: 1;
 	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
	outline-style: none;
}

/* Fonts Definition For Internet Explorer - Must be first */
@font-face {
    font-family: 'MuseoSlab500';
    src: url('../fonts/museo_slab_500-webfont.eot');
}

@font-face {
	font-family: 'MuseoSlab500';
	src: url('../fonts/museo_slab_500-webfont.ttf') format("opentype");
	font-weight: normal;
	font-style: normal;
} 

html {
	height: 100%;
}

body {
	font-family:  "MuseoSlab500", Rockwell,"Rockwell W01", "Courier New", Courier, Times, serif;
	position: relative;
	background: #fff;
	margin: 0;
	padding: 0;
	color: #000000;
	height:100%;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 	
	padding-right: 15px;
}

h2 {
	font-size:28pt;
	color: #382713; 
}

a img { 
	border: none;
}

a:link, a:visited {
	color:#414958;
	text-decoration: none;
}

a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	position:absolute;
	width: 100%;
	height: auto !important;
}

.header_bg {
	background: url("../images/bg_header.png") #fff;
	height: 107px;
	min-width: 1080px;
}

.header {
	width: 1005px;
	margin: auto;
}

.content_bg {
	background: url(../images/bg_photo.png);
	background-repeat: repeat-x;
	width: 100%;
	min-width:1080px;
}

#view_content_bg {
	padding-top: 20px;
}

.content {
  width: 1035px;
	margin: auto;
}

.left {
	width: 705px;
	float: left;
	display: inline;
}

#view_left {
	width: 705px;
	float: left;
	display: inline;
	text-align:center;
	margin-right:30px;
	min-height:900px;
}

.right {
	width: 300px;
	float: left;
	display: inline;
}

#main_photo {
	margin: 1px auto 0 auto;
	width:auto;
	padding:5px;
}

#logo {
	display: inline;
	padding-top: 25px;	
	float: left;
}

#btn_download {
	width:278px;
	height:38px;
	display:block;
	margin-left: 290px;
	padding: 40px 0 0 350px;	
	float: left;
	margin:0 auto;
	background:url("../images/btn_download.png");
	background-position:bottom right;
	background-repeat:no-repeat;
}

#btn_download:hover {
	background:url("../images/btn_download_hover.png");
	background-position:bottom right;
	background-repeat:no-repeat;
}

#caption_list {
	margin: 20px 0;
	 
}

#caption a {
       color: #006D8E;
}


#caption a:hover {
	   color: #E47300;
}

.js-kit-comments {
	margin: 60px 0;
	
}

ul li{
	list-style:none;
}

ul.nav {
	margin: 0;
	padding: 0;
	text-align: center;
}

ul.nav li {
	display: inline;
}

ul.nav a, ul.nav a:visited {
	padding: 5px 5px 15px 15px;
	font-size: 10pt;    
	color: #FFFFFF;
	text-decoration: none;
}

ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	font-size: 10pt;    
	color: #669DC3;
}

.footer {
	position:relative;
	width: 100%;
	height: 43px;
	bottom:0;
	background: url("../images/bg_footer.png");
	background-position:bottom;
	background-repeat:repeat-x;
	min-width:1080px;
	clear:both;
}

.footer ul  {
  padding-top:10px;
  }

.adbox {
	width: 300px;
	height: 250px;
	margin-bottom: 15px;
}

.right div.info_box {
    	width: 300px;
    	margin-top: 5px;
    	margin-bottom: 15px;
    	background: url("../images/bg_info_box_short.png") no-repeat;
    	background-image: -moz-linear-gradient(100% 100% 90deg, #e0e0e0, #f0f0f0);
    	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#e0e0e0)); 
    	-moz-border-radius: 3px;
    	border-radius: 3px;
    	min-height:104px;
}

.right div.info_box_with_thumbs {
    min-height:235px;
    background: url("../images/bg_info_box.png") no-repeat;
}

.info_box {
	padding-top:14px;
}

.info_box ul{
    margin: 0 14px;
}

.info_box p {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-bottom:6px;
}
	
.info_box p strong{
	font-weight: bolder;
	color: #392716;
}

.info_box li {
	list-style: none;
}

.right div.view_thumbs {
	width:300px;
	text-align:left;
	position:relative;
	background:none;
}

.view_thumbs p {
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	padding:14px 0 14px 10px; 
    position:relative;
}

.view_thumbs p strong{
	font-weight: bolder; 
	color: #392716;
	}

.view_thumbs p a {
	color: #006D8E;
}

.view_thumbs p a:hover {
	color: #E47300;
}

.view_tn {
	border:1px solid #999;
	margin:10px 10px 0 0;
	display:inline-block;
	width:100px;
}

.right  div.wrapper {
    width: 272px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
    overflow: hidden;
    min-height: 105px;
    margin: 10px 14px 0;
    position: relative;
    text-align:center;
    background:none;
    border-top: 1px solid #CCCCCC;
    padding:10px 0 0;    
}

.view_thumbs .wrapper ul {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
  text-align:center;

}

.view_thumbs ul{
    width:auto;
}

.left_tn {    
    margin-left:18px;
    margin-right:12px;
    float:left;
}

.right_tn {
    margin-left:12px;
    margin-right:0;
    float:right;
}

.view_thumbs ul li {
  display:inline-block;
  margin: 0 0 14px;
  text-align:center;
}

a.arrows {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-weight:bold;
    font-size:12px;
    color:#006D8E;
    padding-bottom:14px;
}

a.arrows:hover {
    color:#E47300;
}
    
#arrow_box {
    margin:0 35px 0 30px;
    border:0 none;
}
#arrow_box li{
    margin:0;
}

.arrow_next {      
      float:right;
}

.picbounce_promo {
	display:block;
	width:300px;
	height:250px;
	background: url("../images/picbounce_promo.gif");
}

.picbounce_promo:hover {
	background: url("../images/picbounce_promo_hover.gif");
}


#uploaded {
	margin-left: 2px;
	font-size: 12pt;
}

#name strong{
	margin: 2px;
	color: #006D8E;
	font-size: 16pt;
}

#time {
	margin-left: 2px;
	font-size: 12pt;
}

#view_label {
    margin: 2px;
}
	
#view_count {
    margin: 2px;
    font-size: 12pt;
}

#comma {
	display:none;
}

#date  {
	margin: 2px;
	font-size: 12pt;
}

#caption {
	padding-left: 0;
	margin: 30px 0 0 30px;
	color: #392716;
	font-size: 20pt;
}

#caption_label, #at_time, #on_date, #uploaded {
	display:none;
}

#popular_photo_box {
    width: 300px;
	margin-bottom: 15px;
	padding:10px 0 13px;
	background: url("../images/bg_trending_photos_box.png") no-repeat;
	background-image: -moz-linear-gradient(100% 100% 90deg, #e0e0e0, #f0f0f0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#e0e0e0)); 
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#popular_photo_box h2 {
    display:block;
    border-bottom:1px solid #ccc;
    margin: 0 14px 8px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#392716;
    font-size:16pt;
	padding-bottom:8px;
}

#popular_photo_box ul {
    text-align:center;
}

#popular_photo_box ul li {
    display: inline-block;
    margin: 0;
    text-align: center;
}

#popular_photo_box img {
	margin: 6px 7px 0 0;	
	width: 80px;
	height: 80px;
    border: 1px solid #999;
}

#popular_photo_box img.right_tn {
    margin-right:0;
}

.share {
	width: 575px;
	float: left;
	text-align: center;
	margin: 50px 30px 50px 0;
	padding:0 65px;
}

#social_share {
    height:45px;
    width:575px;
    margin:0 auto;
    text-align:center;
}

#social_share a {
    display:inline-block;
    top:0;
    margin-right:14px;
}

#share_list {
    display:block;
    margin:0 auto;
}

#share_list li{
    display:inline-block;
    float:left;   
}

.share .twitter-share-button {
        width:39px;
        height:100px; 
}

#share_btn {
	margin-bottom: 30px;
}

.share .stButton .chicklets {
	background: none;
}

.st_facebook_custom{
    background: url("../images/facebook.png") no-repeat scroll left top transparent;
    padding:39px;
    width: 100px;
    
}
.st_twitter_custom{
    background: url("../images/twitter.png") no-repeat scroll left top transparent;
    padding:39px;
    width: 100px;
}
.st_digg_custom{
    background: url("../images/digg.png") no-repeat scroll left top transparent;
    padding:39px;
    width: 100px;
    margin-left:50px;
}
.st_reddit_custom{
    background: url("../images/reddit.png") no-repeat scroll left top transparent;
    padding:39px;
    width: 100px;
}

/*** Home Page ***/

#home_bg {
	background: url('../images/bg_home-2.png');
	background-repeat: repeat-x;
}

.feature_list {
	padding:0;
	margin:0;
}

.feature_list li {
	list-style-type:none;
	font-size: 18pt;
	padding-top: 20px;
	border:0px solid;
}

.feature_list a, .feature_list a:visited { 
	  background: url('../images/bg_highlighted_feature.png') no-repeat;
	  display:block; 
	  width:410px;
	  height: 33px; 
	  color: white;
	  padding-left:70px;
	  padding-top:5px;
} 

.feature_list a:hover { 
	  background-position:bottom; 
	  color: white; 
} 

#iphone {
	margin-top: -100px;
	position:relative;
}

#facebook_iframe {
	height: 26px;
	width: 302px;
	background: url('../images/bg_facebook_iframe.png');
	text-align:center;
	padding: 25px 0;
}

#facebook_iframe p {
	text-align:center;
	color:#fff;
	margin-top:5px;
}

#like_btn {
	margin-top:10px;
}

.connect_widget_like_button{
	float:right;
	clear:both;
}

#info-text {
	color: white;
	margin:45px 40px 0 95px;
  	font-size: 22pt; 
	line-height: 26pt;
}

#info-text h2{
	color: white;
	font-size: 22pt; 
    margin-left: -25px;
}

#info-text p {
	margin-left: 12px;
}

#big_download_button:link {
	    background-image:url('../images/download_sprite.png');
	    background-position:bottom;
}

#big_download_button:visited {
	    background-image:url('../images/download_sprite.png');
	    background-position:bottom;
}

#big_download_button:hover {
    background-image:url('../images/download_sprite.png');
	background-position:top;
}

#big_download_button:active {
	    background-image:url('../images/download_sprite.png');
	    background-position:top;
}

#big_download_button {
	margin-top: 23px;
	margin-left: 150px;
	visibility: visible;
    display:block;
    background-image:url('../images/download_sprite.png');
    width: 357px;
    height:78px;
	position:bottom;
}



#upload_thumbs {
	text-indent: 0;
	margin-top: 90px;
	margin-bottom: 75px;
	display: inline-block;
}

#mobile_thumbs_hidden {
	display: inline;
	
}

#recently_added p { 
	text-indent: 0;
}

#upload_thumbs img {
	margin: 24px 20px 0 0;	
	width: 80px;
	height: 80px;
    border: 1px solid #999;
}

/*** iPhone Animation on Home Page ***/
.slide-container {
	width: 225px;
	height: 338px;
	position: absolute;
	overflow: hidden;
	top: 91px;
	left: 36px;
}

.slide-container img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	visibility:hidden;
}

.slide-container img.active {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	visibility:visible;
}

.slide-container img.last-active {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

.slides img {
	width: 225px;
	height: 338px;
}

.feature_list li.active a {
	  background: url('../images/bg_highlighted_feature.png') no-repeat;
	  background-position:bottom; 
	  display:block; 
	  width:410px;
	  height: 33px; 
	  color: white;
	  padding-top:5px;
}


.feature_list li a {
    background:none;
}


#name2:hover strong {
	color: #E47300;
}

/*** Social ***/

#social-icons {
/*	text-align:center; */
}

#social-icons p {
	width:auto;
}

#social-icons li {
	list-style: none;
	display:inline;
}


/*** Admin Panel ***/

div#admin_panel {
	position:fixed;
	left:0;
	top:0;
	float:left;
	width:80px;
	height:900px;
	padding:130px 20px;
	background:#333;
	color:#fff;
	opacity:0.7;
	text-align:center;
	font-family:Helvetica, Arial, sans-serif;
}

#admin_panel h2{
	display:block;
	text-align:center;
	color:#fff;
	border-bottom:3px solid #006D8E;
	font-size:150%;	
	margin:0 auto;
}

#admin_panel form{
	margin:10px 0;
}

.submit {
	display:block;
	margin:20px auto;
}

#admin_panel a.button {
	text-align:center;
	display:block;
	color:#fff;
	background:#006D8E;
	padding:5px;
	border:2px solid #666;
}

#admin_panel a:hover {
	background:#999;
	color:#006D8E;
}

#logout {
	margin-top:320px;
}

.no_border {
	border:0 none;
	visibility:visible;
}

/*** LOGIN STUFF ***/

#user_nav {
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	background:#999;
	padding-left:130px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

#user_nav a {
	margin: 15px 15px 0 0;
	display: inline-block;
	background: #006D8E;
	border-radius: 5px;
	padding: 5px 8px;
	color: #fff;
	border: 1px solid #000;
}

#user_nav a:hover {
	background: #E47300;
}

#user_form {
	width: 600px;
	margin: 10px auto 120px;
	font-family: Helvetica, Arial, sans-serif;
	min-height: 500px;
	padding: 15px 15px 30px 15px;
	border: 1px solid #000;
	background: #eee;
	border-radius: 15px;
}

#user_form a {
	width: 280px;
	float:right;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	background: #006D8E;
	border-radius: 5px;
	padding: 5px 8px;
	color: #fff;
	text-align: center;
}

#user_form a:hover {
	background: #E47300;
}


#login_form {
	width: 500px;
	margin: 0 auto;
}

#social-icons {
	display: block;
	background: #ccc;
	border-radius: 10px;
	border: 1px solid #000;
	padding: 5px;
	margin: 15px 65px 15px 0;
}

#social-icons  li {
	display: inline-block;
	line-height:50px;
	height: 50px;
}

#social-icons table  {
	width:20px;
}

#user_form #social-icons a.btn_logout {
	line-height:30px;
	display:inline-block;
	color: #fff;
	border-radius: 5px;
	width: 80px;
	height:30px;
	background-color: #777;
	text-align: center;
}

#social-icons  li p {
	line-height: 50px;
}

.profile_image_cbx {
	font-size: 11px;
	height:20px;
	line-height:20px;
	margin:0;
	padding:0;
	display:block;
}

#user_form #social-icons a {
	float:none;
	clear:none;
	width: auto;
	padding: 0;
	background: none;
}

.profile_thumb {
	display:block;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	border:1px solid #333;
	background: #777;
	background-image:url("../images/user_photos/missing_mini.png");
}

.social_icon {
	width: 40px;
}

.social_icon img {
	margin:0 auto;
}

form#user_new {
	width: 300px;
	float:left;
	border-right: 1px solid;
	display: block;
}

form#user_new label {
	float: left;
	clear:left;
	line-height: 15px;
}

form#user_new input {
	width: 200px;
	float: left;
	clear:both;
}

form#user_new  input#user_remember_me {
	float:none;
	width: auto;
	margin-left: 15px;
}

div.input {
	margin: 10px 0;
	display:inline-block;
	width: 100%;
}

form#user_new p {
	margin: 20px;
	padding: 10px 0;
	display:block;
}

#user_submit {
	margin: 20px auto;
	clear:both;
	display: block;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	text-align:center;
	width: 100px;
	height: 50px;
	margin: 5px auto 15px 0;
	display: inline-block;
	background: #006D8E;
	border-radius: 5px;
	padding: 5px 8px;
	color: #fff;
}

form#user_new #user_submit:hover {
	background: #E47300;
}

#user_photo {
	margin-bottom: 20px;
}

#user_form h2 {
	font-size: 22px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	display:inline-block;
	border-bottom: 1px solid;
	margin: 0 0 15px;
	padding: 5px 0 10px 0;
	color: #000;
}

#user_form h3 {
	font-size: 18px;
	font-weight: bold;
	padding: 0;
	color: #333;
}



/*** PROFILE ***/

#user_edit {
	margin-bottom: 40px;
	display:block;
}

#user_edit h3 {
	width: 100%;
	text-align: center;
	border-top:1px dotted;
	border-bottom:1px dotted;
	margin: 15px 0 15px;
	padding: 10px 0 10px 0;
	color: #000;
}

.social_connects {
	clear:both;
}

.social_connects ul#social-icons {
	float: none;
	width: auto;
	margin-right: 0;
}

form#user_edit label {
	float: left;
	clear:left;
	line-height: 15px;
}

form#user_edit input {
	width: 200px;
	float: left;
	clear:both;
	margin: 5px 0;
}

.hint {
	font-size: 80%;
	font-weight: normal;
	clear:both;
	float:left;
	color: #006D8E;
}