<div class="content_bg" id="home_bg">
  <div class="content">
    <div class="left">
      <div id="info-text">
        <h2>PicBounce is the easiest and fastest way to upload a photo from your iPhone to Facebook or Twitter.</h2>
        <ul class="feature_list">
          <li class="active"><a>Step 1: Take a photo</a></li>
          <li><a>Step 2: Add optional caption</a></li>
          <li><a>Step 3: Add optional filter</a></li>
          <li><a>Step 4: Upload photo</a></li>
          <li><a>See upload history</a></li>
        </ul>
      </div>
      <a href="/download?home" id="big_download_button"> </a>
    </div>	
    <div class="right">
      <div id="iphone">	
        <div class="slide-container">
          <img class="active" src="images/demo00.jpg" alt="Take a photo" />
          <img src="images/demo01.jpg" alt="Add optional caption" />
          <img src="images/demo02.jpg" alt="Add optional filter" />
          <img src="images/demo03.jpg" alt="Upload Photo" />
          <img src="images/demo04.jpg" alt="Repeat" />
        </div>
        <img src="images/iPhone4.png" width="300" alt="PicBounce" />
      </div>
      <div id="facebook_iframe">
        <fb:like href="http://www.facebook.com/apps/application.php?id=125208417509976" show_faces="false" width="240px" colorscheme="dark" font="arial"></fb:like>
      </div>
    </div>
    <div id="upload_thumbs">
      <h2>Recently Uploaded Photos:</h2>
      <% @recent_photos.each do |photo| %> 
        <%= thumbnail_image(photo) %>
      <% end %>
    </div>	
  </div>
</div>
