<div>this is page 2</div>
<div style="padding-left:10px;float:left">
<%= render "shared/feed/photo" %>
<%= render "shared/feed/audio" %>
<%= render "shared/feed/video" %>
</div>
<div style="padding-left:10px;margin-left:10px;float:left;background-color:#cccccc">
<%= render "shared/sidebar/square_ad" %>
</div>