<div class="aligned_center two_columns" style="margin-top:0">
  <div class="left">
    <ul id="posts">
      <% for photo in @recent_photos %>
        <li class="left">
          <% case photo.media_type %>
          <%  when "photo" %>
            <%= render :partial => "/shared/feed/photo",:locals => { :photo => photo } %>
          <%  when "message" %>
            <%= render :partial => "/shared/feed/message",:locals => { :photo => photo } %>
          <%  end %>
        </li>
      <%end%>
    </ul>
  </div>
  <div class="right">
    <br/><br/><br/><br/>
    <%= render "/shared/sidebar/square_ad" %>
  </div>
</div>
