@charset "utf-8";
html{overflow-y:scroll}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
# html, body {
# height: 100%;
# }
# .wrapper {
# min-height: 100%;
# height: auto !important;
# height: 100%;
# margin: 0 auto -4em;
# }
# .footer, .push {
# height: 4em;
# }
*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
  height:100%;
}
body {
	line-height: 1;
}
ol, ul, p {/*li*/
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* General Commands */
.visible{overflow: visible;}
.clear{clear:both;}
.left{float:left;}
.right{float:right;}
.twtr-ft,.hidden,.twtr-hd{display:none;}
.block{display:block;}
.inline{display:inline}
.relative{position: relative}
/* End General Commands */
@font-face {
font-family: 'Museo';
src: url('/fonts/MuseoSans_500-webfont.eot?') format('eot'),
url('/fonts/MuseoSans_500-webfont.woff') format('woff'),
url('/fonts/MuseoSans_500-webfont.ttf') format('truetype');
}
/* General Types */
body{font-family:'Museo';}
a{text-decoration:none; outline:none; cursor:pointer; font-size:11pt; color:#769193}
a:hover{text-decoration:none}
p{color:#757575; font-size:10pt; line-height:20px;}
br{height:0px;}
input{outline:none;}
select{outline:none;}
img{outline:none;}
h1{font-size:24px;}
h1 a{font-size:24px;}
h2{font-size:11.4pt; color:#1c6e23}
h3, .left h3 {font-size:11pt; color:#212B40;}
h4{font-size:13px;}
h5{font-size:12px;}
h6{font-size:11px;}
/* End General Types */
