@charset "utf-8";
/* CSS Document */
.cyan{color:#769193;}
h2{ font-family:'Museo';}
#header{background:url(/images/skin/top_pattern.png) repeat-x center center; height:44px;}
.logo{margin:5px 0 0 0;}
.aligned_center{width:960px; margin:0 auto; overflow:visible;}
#header .aligned_center a{padding-top:0px; display:block}
#header .aligned_center>span.right{margin-top:13px}
.person_icon{background:url(/images/skin/person_icon.png) no-repeat top left; display:block; width:22px; height:19px; margin-right:4px; cursor:pointer}
.person_name{font-family:'Museo'; font-size:13px; margin:2px 0 0 0; color:white; overflow:visible; text-shadow: -1px -1px 0px #666;}
.open_arrow{background:url(/images/skin/person_arrow.png) no-repeat; width:11px; height:10px; margin:4px 0 0 4px; cursor:pointer}
.two_columns{margin-top:23px}
.two_columns>.left{width:612px; /*margin-left:54px;*/}
.two_columns>.right{width:302px}
.three_columns>.left{width:160px; margin:0 0 0 0}/*486px*/
.three_columns>.center{width:453px; margin:0}
.three_columns>.right{width:290px; margin-right:20px}
#main{min-height: 100%; height: auto !important; height: 100%; margin: 27px auto -90px;}
.main_pic_container{background-color:#cbcbcb;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; padding:1px 1px; margin:0 0 20px 0px}
.main_pic_container div{background-color:#fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; padding:5px;}
.profile_pic, .profile_pic_post  {/*border:#cbcbcb 1px solid; padding:0px;*/ width:50px; height:50px; background-color:#fff} 
.profile_pic_post {margin-top:20px;}
.post_details{margin-left:10px; width:400px; font-family:'Museo'; }
#post_details_container .post_details{width:550px;}
#post_details_container .post_details h3.left a{color:#212B40; margin-right:10px; height:50px; font-size:10pt}
.post_details h3.right{font-size:12pt}
.post_details h3.right, .post_details small{color:#687a7b; margin-left:20px;}
.post_details small { font-size:12pt;  margin-top:4px}
.post_details p, p{color:#999; font-size:8.5pt}
.flag_social{width:600px;}
.flag_btn a{display:block; width:50px; margin:5px 0 5px 340px; font-size:10px;}
.three_columns>.center #comment_container{width:440px; margin:0 0 10px -8px;}
.three_columns>.center #comment_container textarea{width:435px}
.comment_container{border:1px solid #bebebe; height:85px; width:435px; margin:0 0 0 15px; overflow:hidden;}
.comment_container textarea{height:50px; font-size:10pt; color:#666; width:430px; border:none; resize:none; padding:4px 7px; font-family:'Museo'; overflow:visible;}
.comment_container textarea:focus{outline:none}
.fileupload-buttonbar{background:#F3F3F3; height:23px; padding:4px 0; width:442px; height:60px;}
#footer_comment{height:50px;}
.upload{height:25px; width:31px; margin:0;background:transparent url(/images/skin/viame_sprites.png) -150px -61px no-repeat; z-index:0; position:absolute;}
#upload-form{display:none;}
.cyan_curve, .start, .cancel, .delete, .post{cursor: pointer; background-color:#E0F0F3; border:1px solid #CFCFCF; margin:5px 0 0 5px; 
padding:5px 9px 4px 9px; text-shadow: 0px 1px 0px #ffffff; filter: dropshadow(color=#ffffff, offx=0, offy=1); 
-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; font-size:9pt; font-family:'Helvetica'; color:#999;
background-image: linear-gradient(bottom, rgb(217,215,215) 4%, rgb(247,247,247) 54%);
background-image: -o-linear-gradient(bottom, rgb(217,215,215) 4%, rgb(247,247,247) 54%);
background-image: -moz-linear-gradient(bottom, rgb(217,215,215) 4%, rgb(247,247,247) 54%);
background-image: -webkit-linear-gradient(bottom, rgb(217,215,215) 4%, rgb(247,247,247) 54%);
background-image: -ms-linear-gradient(bottom, rgb(217,215,215) 4%, rgb(247,247,247) 54%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.04, rgb(217,215,215)),color-stop(0.54, rgb(247,247,247)));}
.cyan_curve:hover, .start:hover, .cancel:hover, .delete:hover, .post:hover{
text-shadow: 0px -1px 0px #ffffff;
filter: dropshadow(color=#ffffff, offx=0, offy=-1);
background-image: linear-gradient(bottom, rgb(247,247,247) 48%, rgb(217,215,215) 100%);
background-image: -o-linear-gradient(bottom, rgb(247,247,247) 48%, rgb(217,215,215) 100%);
background-image: -moz-linear-gradient(bottom, rgb(247,247,247) 48%, rgb(217,215,215) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(247,247,247) 48%, rgb(217,215,215) 100%);
background-image: -ms-linear-gradient(bottom, rgb(247,247,247) 48%, rgb(217,215,215) 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.48, rgb(247,247,247)),color-stop(1, rgb(217,215,215)));}
.fileinput-button{font-size: 9pt; width:430px; display: block; margin:0 10px;}
.comments li,.three_columns>.left:first-child ul li{ width:408px; margin-left:-35px; background-color:#f4f2f2; border-bottom:1px solid #d8d8d8; padding:7px 7px; border-top:1px solid #fff; }
.three_columns>.left:first-child ul li:first-child,#comments li:first-child{border-top:none; }
.comments li h3.left{margin-right:20px}
.post_titles {width:345px; float:left;}
.comments li .post_details{width:330px; margin-top:0px;}
.social_links{height:34px;}
.follow_right{-webkit-box-shadow:0px 0px 1px 1px #d0d1d2;-moz-box-shadow:0px 0px 1px 1px #d0d1d2;box-shadow:0px 0px 1px 1px #d0d1d2;height:188px; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; background:#f2f3f5; margin:2px 0 25px 0; padding:15px}
.follow_right h1,.follow_right h2{color:#687a7b; font-family:'Museo'; padding:0 0 12px 0; text-shadow: 1px 1px 0px #fff;}
.follow_right h1{font-size:20pt; margin-bottom:10px; width:280px;}
.follow_right h2{font-size:11pt; margin-top:30px; padding-top: 30px;}
.follow_btn_text{display:block;font-size:13px;margin:-2.8em 0 0 0.52em; color:#474848; text-shadow: 0px 1px 0px rgba(255,255,255,0.5); position:absolute; z-index:100;}
.follow_btn_text small {font-size:8pt;}
.follow_btn, .follow_btn:hover{display:block; height:25px; width:123px; border:1px solid #b6bda5;
 /*background:transparent url(/images/skin/viame_sprites.png) -33px 0px no-repeat; z-index:0; position:absolute;*/
text-shadow: 0px 1px 0px #ffffff; filter: dropshadow(color=#ffffff, offx=0, offy=1); 
-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; font-size:9pt; font-family:'Helvetica'; color:#999;
background-image: linear-gradient(bottom, rgb(177,190,143) 20%, rgb(219,239,169) 94%, rgb(219,239,169) 100%);
background-image: -o-linear-gradient(bottom, rgb(177,190,143) 20%, rgb(219,239,169) 94%, rgb(219,239,169) 100%);
background-image: -moz-linear-gradient(bottom, rgb(177,190,143) 20%, rgb(219,239,169) 94%, rgb(219,239,169) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(177,190,143) 20%, rgb(219,239,169) 94%, rgb(219,239,169) 100%);
background-image: -ms-linear-gradient(bottom, rgb(177,190,143) 20%, rgb(219,239,169) 94%, rgb(219,239,169) 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.2, rgb(177,190,143)),color-stop(0.94, rgb(219,239,169)),color-stop(1, rgb(219,239,169)));}
.follow_btn:hover{/*background:transparent url(/images/skin/viame_sprites.png) -33px -31px no-repeat;*/
background-image: linear-gradient(bottom, rgb(219,239,169) 0%, rgb(219,239,169) 4%, rgb(177,190,143) 100%);
background-image: -o-linear-gradient(bottom, rgb(219,239,169) 0%, rgb(219,239,169) 4%, rgb(177,190,143) 100%);
background-image: -moz-linear-gradient(bottom, rgb(219,239,169) 0%, rgb(219,239,169) 4%, rgb(177,190,143) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(219,239,169) 0%, rgb(219,239,169) 4%, rgb(177,190,143) 100%);
background-image: -ms-linear-gradient(bottom, rgb(219,239,169) 0%, rgb(219,239,169) 4%, rgb(177,190,143) 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(219,239,169)),color-stop(0.04, rgb(219,239,169)),color-stop(1, rgb(177,190,143)));}
#slider{height:58px; width:270px; display: block; margin:0 auto 0 auto; padding:10px 0 0 8px;}
#slider li{float:left; margin:0 15px 0 0;}
#slider li .arrow{margin-top:22px}
#slider .profile_pic{padding:3px; background-color:#fff; border:1px solid #ccc;}
#charity_badge{margin:0 0 10px 0;}
.support_link{margin:0 50px 10px 50px}
.ad{border:1px solid #cccccc; overflow: visible; width:300px;}
#footer, .push{height:30px; width:100%; margin:44px auto 0 auto; padding-top:15px; float:left;/* bottom:0; left:0; right:0*/}
#footer p{color:#666; font-family:'Museo'}
/*.follow_btn:hover,.open_arrow:hover,.person_icon:hover{background-position:bottom}*/
.avatar.three_columns>.left:first-child {width:170px; float:left; margin:0;}
.avatar img{margin-bottom:10px}
.three_columns>.left:first-child h2.cyan{margin:60px 0 5px 0;}
.three_columns>.left:first-child ul{width:140px; margin-left:-20px;}
/*{background-color:#f4f2f2; border-bottom:1px solid #d8d8d8; padding:7px 11px; border-top:1px solid #fff;}*/
.three_columns>.left:first-child ul li{background:#fff; height:16px; width:111px; margin-left:20px;}
#posts .details{width:300px; float:left; font-family:'Museo'; padding-top:20px; margin-left:20px;}
.two_columns>.left:first-child #posts .details{width:445px}
.details h3, .details a {color:#313d57; margin-right:12px;}
#posts{margin:0; width:450px;}
.aligned_center .three_columns .left .center #posts li:first-child{margin-top:0;}
#posts #comments li h3{font-size:12pt; color:#212b40;}
#posts #comments li small{font-size:9pt;}
#posts #comments li p{color:#333333; font-size:9pt;}
.details small, .post_details small{color:#666666; font-size:9pt; margin-top:1px;}
.details p{font-size:12px; padding-top:5px;}
.details img{border:1px solid #dbdbdb; float:left; display:block; margin:8px 0 8px}
#posts #comments{width:470px;}
#posts li:second-child {margin:10px 0 0 10px;}
.two_columns>.left:first-child #posts #comments{width:610px}
#posts #comments li .post_details{width:370px; padding:10px 0 0 10px}
.two_columns>.left:first-child #posts #comments li .post_details{width:520px}
.play_container{position:relative; display:block; float:left}
.play_container img:first-child{position:absolute; left: 20%;top: 18%; border:none}
.black{color:#333333!important}
.twitter{background:url(/images/skin/twitter.png) no-repeat; height:36px; width:117px; padding-top:0!important; margin-top:-10px; overflow:visible;}
.twitter:hover{background-position:0 -37px}

#dropdown{width:110px; padding-top:15px; position:absolute}
#dropdown ul{background-color:#fff;border:1px solid #c0c0c0;}
#dropdown li{height:30px;}
#dropdown li a{margin:1px; color:#242d42; padding:7px 10px!important; font-family:'Museo'}
#dropdown li a:hover{background-color:#e9e9ea;color:#6a7b7c}

#header .aligned_center>span.right:hover #dropdown{display:block!important}

#header a {color:white}
