<div style="padding:3px;" id="comment_container">
  <textarea style="width:100%;"></textarea>
  <div id="footer_comment">
    <a href="#" class="cyan_curve block left">+ add media</a>
    <a href="#" class="cyan_curve block right">Post</a>
  </div>
</div>