<div id="comment_container">
  <textarea id="comment_input" style="width:100%;"></textarea>
  <div id="footer_comment">  
    <a class="post right" href="javascript:postComment('<%=post.code%>',$('#comment_input').val())">Post</a>
  </div>
</div>