<div style="padding:3px;" id="comment_container">
  <textarea id="caption" style="width:100%;"></textarea>
  <div id="footer_comment">  
    
  <%=raw s3_http_upload_tag    :key => 'photos', 
                                 :content_type => 'image/jpeg', 
                                 :redirect => 'http://'+ request.host_with_port + '/posts/callback',
                                 :acl => 'public-read',
                                 :max_filesize => 5.megabytes,
                                 :iframe =>'s3callback',
                                 :filename => Post.new_uuid,
                                 :onchange =>'onfileuploadchange(this)',
                                 :form => {:style => 'display: inline;'} %>    
    
    <input type="button" onclick="postMedia($('#caption').val(),$('#uuid').val(),$('#ptype').val())" value="Post" class="cyan_curve block right" id="upload-button">
    <iframe name="s3callback"src="/posts/callback" with="100" heigth="20" ></iframe><br/>
    <input type="hidden" id="uuid" />
    <input type="hidden" id="ptype" />
  </div>
</div>
<br/>
<br/>
<br/>
<script>
  var intInterval = 0;
  intInterval=window.setInterval('checkIfReady()', 500);
  function checkIfReady(){
    if (window.s3callback.uuid != null){
      if (window.s3callback.uuid != $('#uuid').val()){
        $('#uuid').val(window.s3callback.uuid);
        $('#ptype').val('photo');
      }
    }
  }
  function onfileuploadchange(fileInput){
    var filename = 'photos/' + uuid()+"."+$(fileInput).val().substring($(fileInput).val().lastIndexOf('.')+1);
    $('#s3filename').val(filename);
    document.s3upload.submit();
  }
</script>