<div id="comment_container">
  <div class="textarea_border">
    <textarea id="caption"></textarea>
      <div id="uploaded_pic">
      <div id="uploaded_pic_ico"></div>
      <div id="uploaded_pic_bg"></div>
      </div>
  </div>
  <div id="footer_comment">  
    
  <%=raw s3_http_upload_tag    :key => 'photos', 
                                 :content_type => 'image/jpeg', 
                                 :redirect => 'http://'+ request.host_with_port + '/posts/callback',
                                 :acl => 'public-read',
                                 :max_filesize => 5.megabytes,
                                 :iframe =>'s3callback',
                                 :filename => Post.new_uuid,
                                 :onchange =>'onfileuploadchange(this)',
                                 :form => {:style => 'display: inline;'} %>    
    
    <input type="button" onclick="postMedia($('#caption').val(),$('#uuid').val(),$('#media_type').val())" value="Post" class="cyan_curve block right" id="upload-button">
    <iframe name="s3callback"src="/posts/callback" with="0" heigth="0" ></iframe><br/>
    <input type="hidden" id="uuid" />
    <input type="hidden" id="media_type" />
  </div>
</div>
<script>
  var intInterval = 0;
  intInterval=window.setInterval('checkIfReady()', 500);
  function checkIfReady(){
    if (window.s3callback.uuid != null){
      if (window.s3callback.uuid != $('#uuid').val()){
        $('#uuid').val(window.s3callback.uuid);
        $('#media_type').val('photo');
        $('#uploaded_pic').html(_upload_pic_thumb({src:window.s3callback.url}))
      }
    }
  }
  function onfileuploadchange(fileInput){
    var filename = 'photos/' + uuid()+"."+$(fileInput).val().substring($(fileInput).val().lastIndexOf('.')+1);
    $('#s3filename').val(filename);
    document.s3upload.submit();
  }
</script>