<div class="profile_pic left"><img with="50" height="50" src="<%=comment.user.avatar%>"/></div>
<div class="right post_details">
  <h3 class="left"><%=comment.user.display_name%></h3>
  <small class="left"><span class="timestamp"><%=comment.created_at%></span></small>
  <br class="clear"/>
  <p><%=comment.text%></p>
</div>
