<div class="profile_pic left">
  <%= link_to image_tag(comment.user.avatar, :size => "50x50"), comment.user %>
</div>
<div class="right post_details">
  <h3 class="left">
    <%= link_to comment.user.display_name, comment.user %>
  </h3>
  <small class="left"><span class="timestamp"><%=comment.created_at%></span></small>
  <br class="clear"/>
  <p><%=comment.text%></p>
</div>
